<!--  
   /*** Name: Payment Screen Page
    Description: It has all the logic related to Payment screen from a Visual Force page. 
    ***/
     -->
<apex:page cache="false" showHeader="false" standardStylesheets="false" sidebar="false" doctype="html-5.0" controller="PaymentScreenController" action="{!doAction}">

    

    <!-- Loading BootStrap Stylesheets and JavaScript
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"></link>
    <link rel="stylesheet" href="/resources/demos/style.css" /> -->

    <meta charset="utf-8" />
    <title>EazyVisa-Application Portal</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="/resources/demos/style.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!--<meta charset="utf-8" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <apex:stylesheet value="{!URLFOR($Resource.EazyVisa_Fontaine_j3_Modules_CSS,'modules.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.SLDS100,'assets/styles/salesforce-lightning-design-system-vf.css')}" />

    <script>
        function changeDate(obj) {
            //var a = document.getElementById('datepicker').value;

            var a = obj.value;
            var b = $(obj)
                .parent()
                .find(".date1");
            b.val(a);
            //$('.date1').val(a);
        }

        function setfocusfirstname() {
            console.log('focus');
            window.scrollTo(0, 0);
        }
    </script>

    <script>
        function myFunction() {
            var url = window.location.href;
            if (!url.includes('&order=1')) {
                url = url + '&order=1'
            }
            location.href = url;
        }
    </script>



    <div style="padding-bottom:100px;">

        <head style="padding-bottom:0px;">

            <!-- EazyVisa Website Header -->
            <div>
                <nav class="navbar navbar-default navbar-fixed-top img-responsive" style="background-color:white; padding-top: 10px;padding-bottom: 10px;position:fixed;">

                    <div class="container-fluid img-responsive">
                        <div class="navbar-header img-responsive">

                            <a class="logo" style=" font-size: 15px;font-weight: bold;font-family: 'Varela Round', sans-serif;float:left;padding-right:20px;" href="JavaScript: location.reload(true);">
                                <apex:image url="{!$Resource.Eazyvisalogo}" />
                            </a>
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" style="border-color: #1E90FF;">
                              <span class="icon-bar"></span>  
                              <span class="icon-bar"></span>  
                              <span class="icon-bar"></span>  
                              <span class="icon-bar"></span> 
                              <span class="icon-bar"></span> 
                              <span class="icon-bar"></span>  
                            </button>
                        </div>
                        <div class="navbar-collapse collapse img-responsive">
                            <ul class="nav nav-pills nav-justified img-responsive" style="font-size: 15px;font-family: 'Varela Round',sans-serif;background-color:white;text-color:black;border-style:box;box-sizing:border-box;">
                                <li><a href="http://eazyvisa.com" target="_blank">Home</a></li>
                                <li><a href="http://eazyvisa.com/visa-all-countries" target="_blank">Visa&nbsp;Information</a></li>
                                <li><a href="http://eazyvisa.com/embassy-locator" target="_blank">Embassy&nbsp;Information</a></li>
                                <li><a href="http://eazyvisa.com/travel-alerts" target="_blank">News&nbsp;&amp;&nbsp;Alerts</a></li>
                                <li><a href="http://eazyvisa.com/blog" target="_blank">Blog</a></li>
                                <li>



                                    <apex:form>
                                        <apex:commandLink value="Logout" action="{!Logout}" styleClass="btn" style="color:white;background-color:#337ab7;text-align:center;"></apex:commandLink>
                                    </apex:form>
                                </li>

                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </head>
    </div>
    <!-- End of EazyVisa Website Header -->

    <body class="tile-bg">

        <div style="padding-top:0px">
            <apex:outputPanel>
                <ul class="nav nav-tabs nav-justified #42bcf4" style="font-family: 'Varela Round',sans-serif;padding-left:15px;padding-right:15px;width:100%;">

                    <li class="active"><a data-toggle="tab" href="#VisaApplicationScreen">APPLY FOR VISA</a></li>
                    <li><a>Orders</a></li>
                    <li><a>Support</a></li>
                    <li><a>Profile</a></li>
                </ul>

            </apex:outputPanel>
        </div>



        <div class="container-fluid">
            <div class="tab-content tabcontent">
                <br/><br/>

                <!--Payment Screen Start-->
                <apex:outputpanel id="VisaApplicationScreennew">
                    <apex:outputPanel>
                        <apex:outputPanel>
			    
			    <!-- Panel used in context of displaying the tab color status w.r.t EAzyvisa context -->
                            <apex:outputPanel rendered="{!IF((selOrder.Order_Status__c == 'Payment Pending' || selOrder.Order_Status__c == 'Customer pending'),true,false)}">
                                <ul class="steps">
                                    <li class="done"><a href="">Choose the Service</a></li>&nbsp;
                                    <li class="done">
                                        <a>Applicant Information</a>
                                    </li>&nbsp;

                                    <li class="active" style="border:1px sold;">
                                        <p href="">Summary and Payment</p>
                                    </li>
                                    <li class="undone">
                                        <p href="">Confirmation</p>
                                    </li>&nbsp;

                                </ul>
                            </apex:outputPanel>

			    <!-- Panel used in context of displaying the tab color status w.r.t EAzyvisa context -->
                            <apex:outputPanel rendered="{!IF(selOrder.Order_Status__c == 'Payment Success' || selOrder.Order_Status__c == 'Payment Failure' ,true,false)}">
                                <ul class="steps">
                                    <li class="done"><a href="">Choose the Service</a></li>&nbsp;
                                    <li class="done">
                                        <a>Applicant Information</a>
                                    </li>&nbsp;

                                    <li class="done"><a href="">Summary and Payment</a></li>
                                    <li class="active" style="border:1px sold;">
                                        <p href="">Confirmation</p>
                                    </li>&nbsp;

                                </ul>
                            </apex:outputPanel>

			    <!-- Panel used in context of displaying the tab color status w.r.t EAzyvisa context -->
                            <apex:form>
                                <apex:outputPanel rendered="{!IF((selOrder.Order_Status__c == 'Payment Pending' || selOrder.Order_Status__c == 'Customer pending'),true,false)}">


                                    <div style="text-align:center;">
                                        <apex:commandbutton value="Go To Home Page" styleclass="btn btn-primary" style="background-color:#0c95be;float:right;margin-right:140px;" action="{!refreshPage}" />
                                    </div>
                                    <br/>
                                    <br/>
                                </apex:outputPanel>
                            </apex:form>
                        </apex:outputPanel>

			
			<!-- Payment Information panel, used in context of displaying the payment related information on page, where are details are fetched from controller -->

                        <div class="panel-group" style="padding-left:10%;padding-right:10%;">
                            <div class="panel panel-primary">
                                <div class="panel-heading" style="background-color:#455A64;">Payment Information</div>
                                <div class="panel-body">
                                    <apex:outputPanel rendered="{!displayMessages}">
                                        <apex:pageMessages />
                                    </apex:outputPanel>
                                    <apex:outputPanel rendered="{!!displayMessages}">
                                        <img width='20%' src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSOsZ7d46bNU1RCB1tKRuk0feIT_Auvk1Xad2Xem9i0gZoL-Zt_nJZypK5k" alt='PayUMoney'> </img>

                                        <br/>

					<!-- Success message, where the transaction is successful -->
                                        <apex:outputPanel rendered="{!IF(selOrder.Order_Status__c == 'Payment Success',true,false)}">
                                            <apex:form>
                                                <p style="font-family: 'Varela Round',sans-serif;font-size:20px;">{!customLabelpmntsuccessmsgtopage}</p>
                                                <p style="font-family: 'Varela Round',sans-serif;font-size:20px;">{!customLabelpmnttxnidtopage}{!selOrder.Payment_ID__c}</p>
                                                <p style="font-family: 'Varela Round',sans-serif;font-size:20px;">{!customLabelpmntorderdetailsmsgtopage}
                                                    <apex:commandLink value=" here..." action="{!checkOrderDetails}" />
                                                </p>
                                            </apex:form>
                                        </apex:outputPanel>
					
					<!-- Failure message, if payment is failed because the transcaction may go out of credit balance or invalid credentials are entered for more than 3 times while trying to make the payment. -->						
                                        <apex:outputPanel rendered="{!IF((responsefrompayu == 'failure' && unmappedstatusfrompayment<>'userCancelled'),true,false)}">
                                            <!-- <p>{!customLabelpmntfailuremsgtopage}{!selOrder.Payment_ID__c}. Your error code is: {!selOrder.Payment_Error_Code__c}. Your error message is: {!selOrder.Payment_Error_Message__c}</p>  -->
                                            <apex:form>
                                                <center>
                                                    <table class="tg">
                                                        <tr>
                                                            <th colspan="2">
                                                                <center>{!customLabelpmntfailuremsgtopage}</center>
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <td class="tg-yw4l">Transaction ID:</td>
                                                            <td class="tg-yw4l">
                                                                <center>{!selOrder.Payment_ID__c}</center>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="tg-yw4l">Error Code:</td>
                                                            <td class="tg-yw4l">
                                                                <center>{!selOrder.Payment_Error_Code__c}</center>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="tg-yw4l">Error Message:</td>
                                                            <td class="tg-yw4l">
                                                                <center>{!selOrder.Payment_Error_Message__c}</center>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="tg-yw4l" colspan="2">
                                                                <center>Please try again later</center>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </center>
                                                <br/>
                                            </apex:form>
                                            <apex:form>
                                                <p>{!customLabelpmntorderdetailsmsgtopage}
                                                    <apex:commandLink value=" here..." action="{!checkOrderDetails}" />
                                                </p>
                                            </apex:form>
                                            <br/>
                                        </apex:outputPanel>
					
					<!-- Failure message, if payment is failed because User cancelled the transcaction -->	
                                        <apex:outputPanel rendered="{!IF((responsefrompayu == 'failure' && unmappedstatusfrompayment=='userCancelled'),true,false)}">
                                            <!-- <p>{!customLabelpmntcancelmsgtopage}{!selOrder.Payment_ID__c}. Your cancellation message is: {!selOrder.Cancellation_message__c}. Status of the transaction is: {!selOrder.Cancel_Status__c}</p>  -->
                                            <apex:form>
                                                <center>
                                                    <table class="tg">
                                                        <tr>
                                                            <th class="tg-031e" colspan="2">
                                                                <center>{!customLabelpmntcancelmsgtopage}</center>
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <td class="tg-yw4l">Transaction ID:</td>
                                                            <td class="tg-yw4l">
                                                                <center>{!selOrder.Payment_ID__c}</center>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="tg-yw4l">Reason:</td>
                                                            <td class="tg-yw4l">
                                                                <center>{!selOrder.Cancellation_message__c}</center>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="tg-yw4l" colspan="2">
                                                                <center>Please try again later</center>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </center>
                                                <br/>
                                            </apex:form>
                                            <apex:form>
                                                <p>{!customLabelpmntorderdetailsmsgtopage}
                                                    <apex:commandLink value=" here..." action="{!checkOrderDetails}" />
                                                </p>
                                            </apex:form>
                                            <br/>
                                        </apex:outputPanel>

                                        
					<!-- Important -->
					<!-- This is the output panel, contains actual code for Payment. --->	
					<apex:outputPanel rendered="{!IF(selOrder.Order_Status__c == 'Payment Pending' || selOrder.Order_Status__c == 'Customer pending' || selOrder.Order_Status__c == 'Payment Failure' || selOrder.Order_Status__c == 'Payment Cancelled',true,false)}">

                                            <form action='https://test.payu.in/_payment' method='post'>

                                                <!-- Mandatory Parameters -->
                                                <input type="hidden" name="key" value="{!customLabelkeyvaluetopage}" />
                                                <input type="hidden" name="txnid" value="{!txnidtopage}" />
                                                <input type="hidden" name="amount" value="{!finalamounttopayuint}" />
                                                <input type="hidden" name="productinfo" value="{!customLabelproductinfovaluetopage}" />
                                                <input type="hidden" name="firstname" value="{!selOrder.firstname__c}" />
                                                <input type="hidden" name="email" value="{!selOrder.Email__c}" />


                                                <!-- Hash Generaation Formulae -->
                                                <!-- http://www.miniwebtool.com/sha512-hash-generator/ -->
                                                <!-- key|txnid|amount|productinfo|firstname|email|udf1|udf2|udf3|udf4|udf5|udf6|udf7|udf8|udf9|udf10|salt -->
                                                <!-- rjQUPktU|payumoney-1|600.40|Product Info|Sachin|techsupport@payumoney.com|||||||||||e5iIg1jwi8 -->

                                                <!-- <input type="hidden" name="hash" value = "5562c14421c2b36bef9afb941a944064ad3bcfd4b32c52bb0bcbb539ab91b71f18009724b91a1265789737a8a29a094c0e0e4c0d0b4f650f878400e15f8fdf11"/>  -->

                                                <input type="hidden" name="hash" value="{!hashtopagenew}" />


                                                <!-- URL should be given with protocol either https or http. -->
                                                <input type="hidden" name="surl" value="{!customlabeltopage}?orderId={!selOrder}" />
                                                <input type="hidden" name="furl" value="{!customlabeltopage}?orderId={!selOrder}" />
                                                <input type="hidden" name="service_provider" value="payu_paisa" />

                                                <!-- Optional Parameters -->
                                                <input type="hidden" name="lastname" value="{!selOrder.lastname__c}" />
                                                <input type="hidden" name="phone" value="{!phno}" />
                                                <input type="hidden" name="udf1" value="" />
                                                <input type="hidden" name="udf2" value="" />
                                                <input type="hidden" name="udf3" value="" />
                                                <input type="hidden" name="udf4" value="" />
                                                <input type="hidden" name="udf5" value="" />
                                                <input type="hidden" name="curl" value="{!customlabeltopage}?orderId={!selOrder}" />

                                                <input type="submit" value="Pay Now" />
                                            </form>
                                        </apex:outputPanel>

                                    </apex:outputPanel>

                                </div>
                            </div>
                        </div>
                    </apex:outputPanel>
                </apex:outputpanel>
            </div>
        </div>
    </body>


    <!-- Overall background -->

    <style type="text/css">
        .tg {
            border-collapse: collapse;
            border-spacing: 0;
        }

        .tg td {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
        }

        .tg th {
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
        }

        .tg .tg-yw4l {
            vertical-align: top
        }
    </style>


    <style>
        .tabcontent {
            background-color: white;
            border: 1px solid #ddd;
            border-width: 0 1px 1px;
        }

        .tile-bg {
            background-image: url("https://c.cs31.visual.force.com/resource/1474454805000/EazyVisa_Fontaine_j3_Background_Tile");
            background-repeat: repeat;
            background-position: 0px 0px;
            width: 100%;
        }

        .custom-module {
            padding: 25px 30px 20px;
            position: relative;
            z-index: 0;
            background-repeat: repeat-x;
            background-position: 0 0;
            background-size: cover;
        }

        body {
            text-align: center;
        }

        .nav-pills>li>a:hover {
            background-color: #0c95be;
            color: white;
            text-color: white;
        }

        .nav-pills>li.active {
            background-color: #0c95be;
            color: white;
            text-color: white;
        }

        .nav-tabs>li>a {
            color: white;
            text-color: white;
            font-weight: bold;
            background-color: #455A64;
        }

        .nav-tabs>li.active>a {
            background-color: white;
            color: #0c95be;
            text-color: #0c95be;
            font-weight: bold;
            background-transform: rotateX(-360deg);
        }

        .nav-tabs>li>a:hover {
            color: #0c95be;
            text-color: #0c95be;
            font-weight: bold;
            background-transform: rotateX(-360deg);
        }

        .nav-tabs>li.active>a:focus {
            background-color: white;
            color: #0c95be;
            text-color: #0c95be;
            font-weight: bold;
            background-transform: rotateX(-360deg);
        }

        .nav-tabs.underlined>li.active>a {
            border-bottom: 4px solid #0c95be;
            border-top: none;
            border-left: none;
            border-right: none;
            font-weight: bold;
            background-color: none;
        }

        .nav-tabs.underlined>li>a {
            font-weight: normal;
            border-top: none;
            border-left: none;
            border-right: none;
        }

        .nav-tabs.underlined>li>a:hover {
            border-top: none;
            border-left: none;
            border-right: none;
            font-weight: bold;
        }

        .nav-tabs.underlined>li.active>a:focus {
            border-top: none;
            border-left: none;
            border-right: none;
            font-weight: bold;
        }
    </style>
    <!-- <style>
.one, .two, .three{
    position:absolute;
    margin-top:-10px;
    z-index:1;
    height:40px;
    width:40px;
    border-radius:25px;
    
}
.one{
    left:0%;
}
.two{
    left:25%;
}
.three{
    left:50%;
}
.four{
    left:75%;
}
.five{
    left:100%;
}
.primary-color{
    background-color:#4989bd;
}
.success-color{
    background-color:#5cb85c;
}
.danger-color{
    background-color:#d9534f;
}
.warning-color{
    background-color:#f0ad4e;
}
.info-color{
    background-color:#5bc0de;
}
.no-color{
    background-color:inherit;
}

</style> -->

    <!-- Progress Bar Styles -->
    <style>
        .progress {
            height: auto;
            width: auto;
            margin: 40px auto;
            text-align: center;
        }

        .progress .circle,
        .progress .bar {
            display: inline-block;
            background: #fff;
            width: 40px;
            height: 40px;
            border-radius: 40px;
            border: 1px solid #d5d5da;
        }

        .progress .bar {
            position: relative;
            width: 30px;
            height: 6px;
            top: -33px;
            margin-left: -5px;
            margin-right: -5px;
            border-left: none;
            border-right: none;
            border-radius: 0;
        }

        .progress .circle .label {
            display: inline-block;
            width: 32px;
            height: 32px;
            line-height: 32px;
            border-radius: 32px;
            margin-top: 3px;
            color: #b5b5ba;
            font-size: 17px;
        }

        .progress .circle .title {
            color: #b5b5ba;
            font-size: 13px;
            line-height: 30px;
            margin-left: -5px;
        }

        .progress .bar.done,
        .progress .circle.done {
            background: #eee;
        }

        .progress .bar.active {
            background: linear-gradient(to right, #EEE 40%, #FFF 60%);
        }

        .progress .circle.done .label {
            color: #FFF;
            background: #81CE97;
            box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
        }

        .progress .circle.done .title {
            color: #444;
        }

        .progress .circle.active .label {
            color: #FFF;
            background: #0c95be;
            box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
        }

        .progress .circle.active .title {
            color: #0c95be;
        }
    </style>

    <script>
        $(document)
            .ready(function() {
                var i = 1;
                $('.progress .circle')
                    .removeClass()
                    .addClass('circle');
                $('.progress .bar')
                    .removeClass()
                    .addClass('bar');
                setInterval(function() {
                    $('.progress .circle:nth-of-type(' + i + ')')
                        .addClass('active');

                    $('.progress .circle:nth-of-type(' + (i - 1) +
                            ')')
                        .removeClass('active')
                        .addClass('done');

                    $('.progress .circle:nth-of-type(' + (i - 1) +
                            ') .label')
                        .html('&#10003;');

                    $('.progress .bar:nth-of-type(' + (i - 1) + ')')
                        .addClass('active');

                    $('.progress .bar:nth-of-type(' + (i - 2) + ')')
                        .removeClass('active')
                        .addClass('done');

                    i++;

                    if (i == 0) {
                        $('.progress .bar')
                            .removeClass()
                            .addClass('bar');
                        $('.progress div.circle')
                            .removeClass()
                            .addClass('circle');
                        i = 1;
                    }
                }, 1000);
            });
    </script>

    <!-- Styling for Steps in Visa Application Screen-->
    <style>
        .steps {
            list-style-type: none;
            padding: 0;
        }

        .steps li {
            display: inline-block;
            margin-bottom: 3px;
        }

        .steps li a,
        .steps li p {
            background: #e5f4fd;
            padding: 8px 20px;
            color: #0077bf;
            display: block;
            font-size: 14px;
            font-weight: bold;
            position: relative;
            text-indent: 12px;
        }

        .steps li a:hover,
        .steps li p:hover {
            text-decoration: none;
        }

        .steps li a:before,
        .steps li p:before {
            border-bottom: 18px solid transparent;
            border-left: 12px solid white;
            border-top: 18px solid transparent;
            content: "";
            height: 0;
            position: absolute;
            left: 0;
            top: 50%;
            width: 0;
            margin-top: -18px;
        }

        .steps li a:after,
        .steps li p:after {
            border-bottom: 18px solid transparent;
            border-left: 12px solid #e5f4fd;
            border-top: 18px solid transparent;
            content: "";
            height: 0;
            position: absolute;
            /*right: -12px;*/
            /* remove this */
            left: 100%;
            /* add this */
            top: 50%;
            width: 0;
            margin-top: -18px;
            z-index: 1;
        }

        .steps li.active a,
        .steps li.active p {
            background: #0077bf;
            color: #fff;
        }

        .steps li.active a:after,
        .steps li.active p:after {
            border-left: 12px solid #0077bf;
        }

        .steps li.undone a,
        .steps li.undone p {
            background: #eee;
            color: #333;
        }

        .steps li.undone a:after,
        .steps li.undone p:after {
            border-left: 12px solid #eee;
        }

        .steps li.undone p {
            color: #aaa;
        }
    </style>

    <!-- Table styling for Order Summary Table -->
    <style>
        .aTable {
            width: 100%;
            border-spacing: 2px;
            padding-left: 10cm;
            padding-right: 10cm;
        }

        .aTable1 {
            width: 51%;
            border-spacing: 2px;
            padding-left: 5cm;
            padding-right: 5cm;
        }

        .aTable tr {
            padding-left: 5cm;
            padding-right: 5cm;
        }
    </style>
    <style>
        .bs-wizard {
            margin-top: 40px;
        }
        /*Form Wizard*/

        .bs-wizard {
            border-bottom: solid 1px #e0e0e0;
            padding: 0 0 10px 0;
        }

        .bs-wizard>.bs-wizard-step {
            padding: 0;
            position: relative;
        }

        .bs-wizard>.bs-wizard-step+.bs-wizard-step {}

        .bs-wizard>.bs-wizard-step .bs-wizard-stepnum {
            color: #595959;
            font-size: 16px;
            margin-bottom: 5px;
        }

        .bs-wizard>.bs-wizard-step .bs-wizard-info {
            color: #999;
            font-size: 14px;
        }

        .bs-wizard>.bs-wizard-step>.bs-wizard-dot {
            position: absolute;
            width: 30px;
            height: 30px;
            display: block;
            background: #fbe8aa;
            top: 45px;
            left: 50%;
            margin-top: -15px;
            margin-left: -15px;
            border-radius: 50%;
        }

        .bs-wizard>.bs-wizard-step>.bs-wizard-dot:after {
            content: ' ';
            width: 14px;
            height: 14px;
            background: #fbbd19;
            border-radius: 50px;
            position: absolute;
            top: 8px;
            left: 8px;
        }

        .bs-wizard>.bs-wizard-step>.progress {
            position: relative;
            border-radius: 0px;
            height: 8px;
            box-shadow: none;
            margin: 20px 0;
        }

        .bs-wizard>.bs-wizard-step>.progress>.progress-bar {
            width: 0px;
            box-shadow: none;
            background: #fbe8aa;
        }

        .bs-wizard>.bs-wizard-step.complete>.progress>.progress-bar {
            width: 100%;
        }

        .bs-wizard>.bs-wizard-step.active>.progress>.progress-bar {
            width: 50%;
        }

        .bs-wizard>.bs-wizard-step:first-child.active>.progress>.progress-bar {
            width: 0%;
        }

        .bs-wizard>.bs-wizard-step:last-child.active>.progress>.progress-bar {
            width: 100%;
        }

        .bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot {
            background-color: #f5f5f5;
        }

        .bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot:after {
            opacity: 0;
        }

        .bs-wizard>.bs-wizard-step:first-child>.progress {
            left: 50%;
            width: 50%;
        }

        .bs-wizard>.bs-wizard-step:last-child>.progress {
            width: 50%;
        }

        .bs-wizard>.bs-wizard-step.disabled a.bs-wizard-dot {
            pointer-events: none;
        }
        /*END Form Wizard*/
    </style>
</apex:page>